[submodule "connector-telephony"]
	path = connector-telephony
	url = git@github.com:akretion/connector-telephony.git
	branch = 14-mig-asterisk_click2dial
[submodule "knowledge"]
	path = knowledge
	url = https://github.com/OCA/knowledge.git
