[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 12.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 12.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 12.0

[submodule "OCA/website"]
	path = OCA/website
	url = git@github.com:OCA/website.git
	branch = 12.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 12.0

[submodule "thomaspot/account_sepa_direct_debit_additional_app"]
	path = thomaspot/account_sepa_direct_debit_additional_app
	url = git@github.com:thomaspot/account_sepa_direct_debit_additional_app.git
	branch = 12.0

[submodule "OCA/commission"]
	path = OCA/commission
	url = git@github.com:OCA/commission.git
	branch = 12.0

[submodule "OCA/knowledge"]
	path = OCA/knowledge
	url = git@github.com:OCA/knowledge.git
	branch = 12.0

[submodule "thomaspot/odoo-o2b"]
	path = thomaspot/odoo-o2b
	url = git@github.com:thomaspot/odoo-o2b.git
	branch = master

[submodule "thomaspot2/odoo-o2b"]
	path = thomaspot2/odoo-o2b
	url = git@github.com:thomaspot/odoo-o2b.git
	branch = master

[submodule "OCA/social"]
	path = OCA/social
	url = git@github.com:OCA/social.git
	branch = 12.0
	

[submodule "odoo-addons"]
	path = odoo-addons
	url = https://github.com/open2bizz/odoo-addons.git
	branch = 12.0
[submodule "odoo-crm"]
	path = odoo-crm
	url = https://github.com/open2bizz/odoo_crm.git
	branch = 12.0

[submodule "connector-telephony"]
	path = connector-telephony
	url = git@github.com:OCA/connector-telephony.git
	branch = 12.0

[submodule "open2bizz/odoo-addons"]
	path = open2bizz/odoo-addons
	url = git@github.com:open2bizz/odoo-addons.git
	branch = 14.0
